@charset "utf-8";
body {
    height: 100vh;
    margin: 0;
}
div#wrapper {
    height: 105vh;
    width: 500px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 50px;
}
h1 {
    margin-top: 0;
    text-align: center;
}
div#restaurant_list {
    height: 245px;
    background-color: white;
    border: solid 2px red;
    padding: 25px;
}
h2 {
    margin-top: 0;
}
ul {
    list-style-type: square;
}
.red{
    color: red;
}
.bg_pink{
    background-color: pink;
}
li {
    margin-bottom: 5px;
}
#restaurant_list p {
    background-color: #eee;
    padding: 4px;
}
div#restaurant_list2 {
    height: 305px;
    background-color: white;
    padding: 25px;
    border: solid 2px blue;
    margin-top: 25px
}
#restaurant_list2 li {
    margin-bottom: -5px;
    list-style: none;
}
.left{
    border: solid 5px blue;
    border-top: none;
    border-right: none;
    border-bottom: dashed 2px blue;
}
.left2{
    margin-top: 5px;
    margin-left: 10px;
}
.yellow{
    color: yellow;
}
#restaurant_list2 p {
    background-color: #eee;
    padding: 4px;
}